* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal 1em/1.5 sans-serif;
}

#the-beagle {
  width: 25%;
  height: 100%;
}
